<!DOCTYPE html>
<html>

    <head>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HIFPB</title>

        <link rel="stylesheet" href="../../../static/site_sched_ifpb/css/style.css">
        <script src="https://unpkg.com/scrollreveal@4.0.4/dist/scrollreveal.min.js"></script>

    </head>

    <body>
<!-- Início da barra do governo -->
        <div id="barra-identidade">
            <div id="barra-brasil">
                <div id="wrapper-barra-brasil">
                    <div class="brasil-flag">
                        <a href="http://brasil.gov.br" class="link-barra" target="_blank">
                            Brasil
                        </a>
                    </div>
                    <span class="acesso-info">
                        <a href="http://www.servicos.gov.br/?pk_campaign=barrabrasil" class="link-barra" id="barra-brasil-orgao" target="_blank">
                            Serviços
                        </a>
                    </span>
                    <nav>
                        <ul class="list">
                            <li>
                                <a href="#" id="menu-icon">
                                </a>
                            </li>
                            <li class="list-item first">
                                <a href="http://brasil.gov.br/barra#participe" class="link-barra" target="_blank">
                                    Participe
                                </a>
                            </li>
                            <li class="list-item">
                                <a href="http://brasil.gov.br/barra#acesso-informacao" class="link-barra" target="_blank">
                                    Acesso à informação
                                </a>
                            </li>
                            <li class="list-item">
                                <a href="http://www.planalto.gov.br/legislacao" class="link-barra" target="_blank">
                                    Legislação
                                </a>
                            </li>
                            <li class="list-item last last-item">
                                <a href="http://brasil.gov.br/barra#orgaos-atuacao-canais" class="link-barra" target="_blank">
                                    Canais
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <a class="logo-vlibras" href="http://www.vlibras.gov.br/" aria-label="Acessível em Libras" target="_blank">

                    </a>
                </div>
            </div>
            <script src="http://barra.brasil.gov.br/barra.js" type="text/javascript" defer="" async=""></script>
        </div>

<!-- Fim da barra do governo -->

<!-- Cabeçalho do site -->
        <div class="row">
            <div class="col-12 barra-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-4 p-2">
                            <a href="#"><img class="logoIFSubs" src="../../../static/site_sched_ifpb/img/logoIFSubs.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Fim do cabeçalho do site -->

<!-- Barra horizontal de links -->
        <div class="row">
            <div class="col-12 optionsnav">
                <div class="container">
                    
                </div>
            </div>
        </div>
<!-- Fim da barra horizontal de links -->

<!-- Conteúdo da página -->
        <div class="container">
            <div class="row p-4">
                <div class="col-12">
                    <div class="row">
                        <form class="add-form" action="" method="POST">
                            <div>
                                <fieldset>
                                    <legend>Template de Horários</legend>
                                    <div class="form-div">
                                        <label for="nome" class="form-label">Nome: *</label>
                                        <input id="nome" type="text" name="nome"/>
                                        <span class="form-hint">Digite um nome que identifique de alguma forma a grade. Exemplo: Template-Diurno</span>
                                    </div>
                                    <div class="form-div">
                                        <label class="form-label" style="min-height: 72px;">Turnos de aula: *</label>
                                        <input id="mat" type="checkbox" name="turnos" value="matutino"/><span> Matutino</span><br/> 
                                        <input id="vesp" type="checkbox" name="turnos" value="vespertino"/><span> Vespertino</span><br/>
                                        <input id="not" type="checkbox" name="turnos" value="noturno"/><span> Noturno</span>
                                        <span class="form-hint">Digite quais turnos você deseja na grade.</span>
                                    </div>
                                    <div class="form-div matutino">
                                        <label for="ini-itv-m" class="form-label">Início do Intervalo Matutino:</label>
                                        <input id="ini-itv-m" type="time" name="ini-intervalo-m"/>
                                        <span class="form-hint">Digite o horário inicial do intervalo da manhã. Exemplo: 09:30</span>
                                    </div>
                                    <div class="form-div matutino">
                                        <label for="fim-itv-m" class="form-label">Fim do Intervalo Matutino:</label>
                                        <input id="fim-itv-m" type="time" name="fim-intervalo-m"/>
                                        <span class="form-hint">Digite o horário final do intervalo da manhã. Exemplo: 09:50</span>
                                    </div>
                                    <div class="form-div vespertino">
                                        <label for="ini-itv-v" class="form-label">Início do Intervalo Vespertino:</label>
                                        <input id="ini-itv-v" type="time" name="ini-intervalo-v"/>
                                        <span class="form-hint">Digite o horário inicial do intervalo da tarde. Exemplo: 15:30</span>
                                    </div>
                                    <div class="form-div vespertino">
                                        <label for="fim-itv-v" class="form-label">Fim do Intervalo Vespertino:</label>
                                        <input id="fim-itv-v" type="time" name="fim-intervalo-v"/>
                                        <span class="form-hint">Digite o horário final do intervalo da tarde. Exemplo: 15:50</span>
                                    </div>
                                    <div class="form-div noturno">
                                        <label for="ini-itv-n" class="form-label">Início do Intervalo Noturno:</label>
                                        <input id="ini-itv-n" type="time" name="ini-intervalo-n"/>
                                        <span class="form-hint">Digite o horário inicial do intervalo da noite. Exemplo: 20:30</span>
                                    </div>
                                    <div class="form-div noturno">
                                        <label for="fim-itv-n" class="form-label">Fim do Intervalo Noturno:</label>
                                        <input id="fim-itv-n" type="time" name="fim-intervalo-n"/>
                                        <span class="form-hint">Digite o horário final do intervalo da noite. Exemplo: 20:50</span>
                                    </div>
                                    
                                    
                                </fieldset>
                            </div>
                            <div class="submit-row">
                                <input class="save" type="submit" value="Salvar"/>
                                <input class="save-cont" type="submit" value="Salvar e adicionar outro"/>
                                <input class="save-cont" type="submit" value="Salvar e continuar editando"/>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
<!-- Fim do conteúdo da página -->


        
        <script type="text/javascript" src="../../../script/formularios.js"></script>
        <script type="text/javascript" src="../../../script/script.js"></script>        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    </body>

</html>