<!doctype html>
<html>

    <head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HIFPB</title>

        {% load static %}

        <link rel="stylesheet" href="{% static "site_sched_ifpb/css/style.css" %}">

    </head>

    <body>

        <div id="barra-identidade">
            <div id="barra-brasil">
                <div id="wrapper-barra-brasil">
                    <div class="brasil-flag">
                        <a href="http://brasil.gov.br" class="link-barra" target="_blank">
                            Brasil
                        </a>
                    </div>
                    <span class="acesso-info">
                        <a href="http://www.servicos.gov.br/?pk_campaign=barrabrasil" class="link-barra" id="barra-brasil-orgao" target="_blank">
                            Serviços
                        </a>
                    </span>
                    <nav>
                        <ul class="list">
                            <li>
                                <a href="#" id="menu-icon">
                                </a>
                            </li>
                            <li class="list-item first">
                                <a href="http://brasil.gov.br/barra#participe" class="link-barra" target="_blank">
                                    Participe
                                </a>
                            </li>
                            <li class="list-item">
                                <a href="http://brasil.gov.br/barra#acesso-informacao" class="link-barra" target="_blank">
                                    Acesso à informação
                                </a>
                            </li>
                            <li class="list-item">
                                <a href="http://www.planalto.gov.br/legislacao" class="link-barra" target="_blank">
                                    Legislação
                                </a>
                            </li>
                            <li class="list-item last last-item">
                                <a href="http://brasil.gov.br/barra#orgaos-atuacao-canais" class="link-barra" target="_blank">
                                    Canais
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <a class="logo-vlibras" href="http://www.vlibras.gov.br/" aria-label="Acessível em Libras" target="_blank">

                    </a>
                </div>
            </div>
            <script src="http://barra.brasil.gov.br/barra.js" type="text/javascript" defer="" async=""></script>
        </div>


        <div class="row">
            <div class="col-12 barra-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-4 p-2">
                            <a href="#"><img class="logoIFSubs" src="{% static "site_sched_ifpb/img/logoIFSubs.png" %}"></a>
                        </div>
                        <div class="col-4 ml-auto">
                            <div class="form-group search">
                                <input type="text" name="form-control" value="" class="searchBox" placeholder="Pesquisa">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 optionsnav">
                <div class="container">
                    <a href="/">Início</a>  |
                    <a href="/cursos/">Cursos</a>  |
                    <a href="/laboratorios/">Laboratórios</a>  |
                    <a href="/salas/">Salas</a>  |
                    <a href="/professores/">Professores</a>
                </div>
            </div>
        </div>

        <div class="container">
					<div>
						<table class="tableProff">
							<tr>
								<th style="text-align:center">Professores</th>
							</tr>
						</table>
						<p> </p>
			            <table class="tableProff">
			                <tr>
													<th style="text-align:center; width:120px">Apelido</td>
			                    <th style="text-align:center">Nome</td>
			                    <th style="width:170px; text-align:center">CPF</td>
											</tr>
			            {% for professor in todosProfessores %}
			                <tr>
												<td> {{ professor.apelido }} </th>
												<td> <a href="/docente/{{ professor.id }}"> {{ professor.nome }} </a> </th>
												<td> {{ professor.cpf }} </th>

											</tr>
			            {% endfor %}
			            </table>
					</div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    </body>

</html>
