@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Dosis');
body {
	font-family: 'Dosis', sans-serif;
	margin: 0px;
	padding: 0px;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

.logoIFSubs {
    height: 120px;
    width: 247px;
    margin: 10px auto 20px auto;
}

/*estiliza a barra de links (nav) horizontal*/
.optionsnav {
	background-color: #27AE60;
    color: #FFF;
	text-align: left;
	min-height: 24px;
}

.optionsnav .container{
	width: 960px;
}
/* estiliza os links da nav inividualmente*/
.optionsnav a {
    color: #FFF;
    text-decoration: none;
	font-size: 14px;
}
/* estiliza a div-mãe dos links*/
.optionsnav div {
    width: 50%;
    margin: 0px auto;
}

/* estiliza o cabeçalho da pagina*/
.barra-menu {
	background: #414141;
	height: 150px;

}

.barra-menu .container{
	height: 130px;
	width: 960px;
}

/*estiliza o formulário de login do administrador*/
.login-form {
	align-content: center;
	max-width: 400px;
	border: 1px solid grey;
	border-radius: 10px;
	margin: auto;
	background-color: #eeeeee;

}

.login-form label {
	display: block;
	font-size:13px;
	width: 50px;
}

.login-form input{
	display: block;
}
/*estiliza o botão de acessar do login-form*/
.submit{
	background-color: #27AE60;
	color: white;
	border: none;
	border-radius: 8px;
	width: 390px;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
	font-size:16px;
}
.submit:hover{
	background-color: rgb(32, 139, 77);
}
.login-form .form-row{
	margin:5px;
	
}

/* estilização dos ícones da pagina index (curso, sala, lab e prof)*/

.icons{
	margin: auto;
}

.container .row .col-12 .row{
	padding:35px 0px;
}

.subtitles{
	margin: auto;
	
}

.icons figure{
	text-align: center;
	color: #27AE60;
	font-weight: bolder;

}

a:hover{
	text-decoration: none;
}

/*botões das páginas do adm:*/

.add-button{
	float: right;
	border: 1px solid #3cc375;
	background-color: #3cc375;
	color: white;
	border-radius: 30px;
	padding: 5px 8px;
	cursor: pointer;
	
}

.add-button:hover{
	border: 1px solid #27AE60;
	background-color: #27AE60;
}

/*Caixas de pesquisa:*/

.search-container{
	margin: 50px auto;
	text-align: center;
	
}

.search-row{
	margin: auto;
}


.search-box{
	margin: auto;
	border: 1px solid #27AE60;
	border-radius: 30px;
	padding: 5px 8px;
	width: 75%;
	box-shadow:  2px 2px 4px #A4A4A4;
	
}

.lupa{
	width: 30px;
}


/*estiliza os formulários das funções do administrador*/
form.add-form{
	margin: auto;
}

form.add-form .form-div{
	padding: 5px;
}

/*estiliza as legendas do formulário*/
form.add-form .form-div>label{
	display: block;
	float: left;
	min-width: 220px;
	/*cursor: help;*/
}

/*estiliza todos os campos do formulário*/
form.add-form div.form-div input, form.add-form div.form-div select{
	border: 1px solid #27AE60;
	border-radius: 30px;
	padding: 5px 8px;
	background-color: white;
}

form.add-form input:focus, form.add-form select:focus{
	box-shadow: 0px 0px 4px #A4A4A4
}

form.add-form div.submit-row input{
	cursor: pointer;
	min-width: 100px;
	margin: 10px 5px;
	border-radius: 30px;
	padding: 5px 8px;
}

/* primeiramente, trata do botão de 'salvar' em modo normal, depois trata dele em modo hover*/
form.add-form div.submit-row input.save{
	border: 1px solid #3cc375;
	background-color: #3cc375;
	color: white;
	
}

form.add-form div.submit-row input.save:hover{
	background-color: #27AE60;
	border-color: #27AE60;
}

/* primeiramente, trata dos botões secundários em modo normal, depois trata deles em modo hover*/
form.add-form div.submit-row input.save-cont{
	border: 1px solid #e7e7e7;
	background-color: #E7E7E7;
	
}

form.add-form div.submit-row input.save-cont:hover{
	background-color: #DADADA;
	border-color: #DADADA;
}

.field-sec{
	min-width: 100%;
}

.field-sec legend{
	font-size: 19px;
}
.form-div-sec{
	float:left;
	margin-bottom: 10px;
	margin-right: 20px;
}

.form-div-sec label{
	min-width: 100px;
}

/*personaliza dicas para os formulários do adm*/
.form-hint{
	background: #27ae60;
    border-radius: 3px 3px 3px 3px;
	color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}


.form-div input:focus + .form-hint{
 display: inline;
}
.form-div select:focus + .form-hint{
	display: inline;
   }

.matutino, .vespertino, .noturno{
	display: none;
}

/*estiliza a caixa de diálogo pop-up que se abre para escolher alguns campos dos formulários do admin
ex: escolha de template em adicionar campus*/
.popup-escolha{
	position: fixed;
	top: 25%;
	left: 30%;
	width: 40%;
	height: 50%;
	background-color: white;	
	border-radius: 10px;
	padding: 25px;
	display: none;
}

.pesquisa-suspensa{
	width: 100%;
	margin: auto;
	border: 1px solid #27AE60;
	border-radius: 30px;
	padding: 5px 8px;
	box-shadow:  2px 2px 4px #A4A4A4;
}

.table-opcoes{
	border: 1px solid black;
	width:100%;
	margin: 10px auto;
}

.table-opcoes td{
	background-color: #e7e7e7;
	border: 1px solid #A4A4A4;
}

.table-opcoes td a{
	display: block;
	width:100%;
	cursor: pointer;
	padding: 10px;
}

.table-opcoes td:hover{
	background-color: #a4a4a4;;
	color: white;
}

.save-pop{
	float: left;
	cursor: pointer;
	min-width: 100px;
	margin: 10px 5px;
	border-radius: 30px;
	padding: 5px 8px;
	border: 1px solid #3cc375;
	background-color: #3cc375;
	color: white;
}

.save-pop:hover{
	background-color: #27AE60;
	border-color: #27AE60;
}

.exit-pop{
	float: left;
	cursor: pointer;
	min-width: 100px;
	margin: 10px 5px;
	border-radius: 30px;
	padding: 5px 8px;
	border: 1px solid #e7e7e7;
	background-color: #E7E7E7;
}

.exit-pop:hover{
	background-color: #DADADA;
	border-color: #DADADA;
}

.table{
	text-align: center;
	margin-top: 10px;
}

.tabela-detalhes td{
	text-align: left;
}